.slider{
    margin: 0;
    width: 420px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slider-img{
    width: 100%;
}
